# General
.vscode/
__pycache__/
.ipynb_checkpoints/
.DS_Store
*.dot
.python-version
.ipynb_checkpoints

# Documentation
docs/_build

# Local stuff
tmp/
test_gregobase_corpus*.py

# Development
*.egg-info
dist
build
env
*-env

analyses