{%- set showOptions = showOptions|default(False, True) %}
{%- set showWords = showWords|default(False, True) %}
{%- set showSyllables = showSyllables|default(False, True) %}
{%- set showNeumes = showNeumes|default(False, True) %}

{# A unique widget id #}
{% set chantId %}
{%- for _ in range(5) -%}
{{ '1234567890abcdefghijklmnopqrstuvwABCDEFGHIJKLMNOPQRSTUVWXYZ'|random }}
{%- endfor %}
{%- endset %}

<div id="chantContainer-{{chantId}}">
    {% if showOptions %}
        {% include 'displayOptions.html' %}
    {% endif %}
    {% include 'chant.html' %}   
</div>